<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @branch.contact_id %>
</p>

<p>
  <strong>Device:</strong>
  <%= @branch.device_id %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
