<p id="notice"><%= notice %></p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @contact.department %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
